.about {
    margin-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

.aboutAxes {
    float: left;
}

.aboutClosure {
    text-align: center;
    font-size: 17px;
    color: rgba(0,0,0,0.5);
    margin-top: 20px;
}

.aboutDescription {
    margin: 15px;
    text-align: center;
}

.aboutPages {
    margin-top: 30px;
    margin-left: 55px;
}

.aboutPages :hover {
    text-decoration: none;
    cursor: pointer;
}

#addFx {
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

a.addFxButton {
    color: white;
}

a.addFxButton:hover {
    text-decoration: none;
    color: white;
}

addFxButtonContainer {
    margin-bottom: 35px;
}

.addGuitarButton {
    margin-top: 50px;
    float: right;
    margin-right: 70px;
}

body {
    background-color: #6c928ea8 !important;
    color: #e1f1ef;
}

.comingSoonButton {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.comingSoonMessage {
    text-align: center;
}

.container > h1 {
	margin-top: 6rem!important;
}

.docsAbout {
    text-align: center;
    font-size: 17px;
    color: rgba(0,0,0,0.5);
}

.fxAll {
    text-align: left;
    padding-left: 20px;
    box-shadow: -2px 3px 1px 3px lightgrey;
    margin: 15px;
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    width: 350px;
    padding: 5px;

}

.fxAll div {
    padding-left: 10px;
}

.fx-select {
    min-width: 300px;
}

#guitar {
    text-align: center;
    padding: 150px;
}

.guitar {
	height: 200px;
	margin: auto;
}

.guitarContainer{
    margin: 40px 0px 20px 0px;
    text-align: center;
}
.details {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -2px 4px 5px 4px grey;
    margin: 10px;
    left: 10%;
    padding: 50px 40px 60px;
} 

.fx {
    display: inline-block;
    min-width: 220px;

}

#fx {
    margin-top: 30px;
}

.details:hover {
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: -2px 4px 5px 4px grey;
}

.guitarFormDetail {
    margin-left: 100px;
    width: 250px;
    display: inline-block;
    float: left;
}

.guitarImg {
    display: inline-block;
    float: left;
    margin-left: 75px;
    margin-top: 100px;
}

.guitarSearchTitle {
    margin-top: 0;
}

.guitarfx a {
    display: block;
    margin-top: 15px;
}

.guitarUpload {
    margin-left: 175px;
}

.homeAbout {
    text-align: center;
    font-size: 17px;
    color: rgba(0,0,0,0.5);
}

.guitarImg .form-group .img-thumbnail {
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 200px;
}

.login, .register, span.glyphicon.glyphicon-log-in{
	/*color: green !important;*/
	margin: auto 2px;
}

.login:hover, .register:hover {
	background: rgb(52,58,64) !important;
}

body main .form-group select.form-control {
    height: 34px !important;
    padding: 6px 12px;
}

#searchGuitars {
	margin-left: 10px;
}

#searchGuitars input {
    height: 30px;
    margin-bottom: 12px;
    margin-right: 15px;
    width: 220px;
}

.siteTitle {
	text-align: center;
}