.container > h1 {
	margin-top: 6rem!important;
}

#createGuitar {
	margin-left: 10px;
}
#createGuitar input {
    height: 30px;
    margin-bottom: 12px;
    margin-right: 15px;
    width: 220px;
}

#guitar {
    text-align: center;
    padding: 150px;
}

}
.guitar {
	height: 200px;
	margin: auto;
}

.guitarContainer{
    margin: 70px 0px 20px 0px;
    text-align: center;
}
.guitarDetail {
    border: 0.25px solid lightgray;
    box-shadow: -2px 4px 5px 4px lightgrey;
    display: inline-block;
    margin: 25px 50px;
    min-width: 250px;
    padding: 40px 50px;
}

.guitarDetail:hover {
    border: 0.25px solid black;
    cursor: pointer;
}

.guitarfx a {
    display: block;
    margin-top: 15px;
}

.homeAbout {
    text-align: center;
    font-size: 17px;
    color: rgba(0,0,0,0.5);
}

.login, .register, span.glyphicon.glyphicon-log-in{
	/*color: green !important;*/
	margin: auto 2px;
}

.login:hover, .register:hover {
		background: rgb(52,58,64) !important;
	}

.siteTitle {
	text-align: center;
	
}
