#register{
	width: 400px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin-top: 25px;
}

.registerButton {
	float: right;
}

.register-header {
	text-align: center;
}

.signupButton {
	float: right;
}

/*form {
	width: 50%;
	margin-left: 275px;
}*/


/*.form-group {
	width: 50%;
}*/