extends layout 
block content
	h1.siteTitle About Guitar Dictionary
	p.homeAbout
		em
			| The wonderful world of guitar and the music it creates
	div.about
		p.aboutDescription
			| This app is dedicated as an informative site to all the great things about guitars, guitar accessories and things that bring them to life 
		.aboutPages
			.aboutAxes
				a(href='/') Axes: 
				| The home page of the site will direct you to page of different guitars to search through and look at singular guitars
			br
			br
			.aboutDocs
				a(href='/docs') Docs: 
				|	Find documentation, pages, videos, educational information, podcasts and more
			br
			.aboutFX
				a(href='/fx/all') FX: 
				| Search through different effects pedals
			br
			.aboutSongs
				a(href='/songs') Songs: 
				| Find different musical notation, tabs, and chords of your favorite songs
		br
		p.aboutClosure
			em
				| No matter what your taste, style, or playing ability is, have fun and enjoy