extends layout 
block content
  h1.siteTitle Guitar Documents
  .docsContainer
    p.docsAbout
      em
        | All the sheets so you can drop the beat
    .comingSoon
      h2.comingSoonMessage 
        em
          | Coming Soon
      br
      a.btn.btn-primary.comingSoonButton(role="button" href="/") Back to Home