extends layout 
block content
	h1.siteTitle Guitar FX
	p.homeAbout
		em
			| The wonderful world of guitar noise pedals and boxes
	.guitarContainer
		h2.guitarSearchTitle Search FX
		.guitarfx
			a(href='/pedals/compression') compression
			a(href='/pedals/chorus') chorus
			a(href='/pedals/delay') delay
			a(href='/pedals/detuner') detuner
			a(href='/pedals/distortion') distortion
			a(href='/pedals/flanger') flanger
			a(href='/pedals/loop') loop
			a(href='/pedals/overdrive') overdrive
			a(href='/pedals/octaver') octaver
			a(href='/pedals/pitch') pitch
			a(href='/pedals/phaser') phaser
			a(href='/pedals/stutter') stutter
			a(href='/pedals/reverb') reverb
			a(href='/pedals/rotary') rotary
			a(href='/pedals/tremelo') tremelo
			a(href='/pedals/volume') volume
			a(href='/pedals/wah') wah
			a(href='/pedals/other') other
		br
		script(src="/js/jquery-1.11.3.min.js")