extends layout 
block content
	h1.siteTitle Guitar FX
	p.homeAbout
		em
			| The wonderful world of guitar noise pedals and boxes
	.guitarContainer
		.addFxButtonContainer
			a.btn.btn-secondary(role='button' href='/fx/addFx') Add FX
		br
		select.fx-select(name='states[]', multiple='multiple')
			option(value='compression') Compression
			option(value='chorus') Chorus
			option(value='delay') Delay
			option(value='detuner') Detuner
			option(value='distortion') Distortion
			option(value='flanger') Flanger
			option(value='loop') Loop
			option(value='overdrive') Overdrive
			option(value='octaver') Octaver
			option(value='pitch') Pitch
			option(value='phaser') Phaser
			option(value='stutter') Stutter
			option(value='reverb') Reverb
			option(value='rotary') Rotary
			option(value='tremelo') Tremelo
			option(value='volume') Volume
			option(value='wah') Wah
			option(value='other') Other
		h2.guitarSearchTitle.btn.btn-primary Search FX
		.guitarfx
		br
		#fx