doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/css/main.css")
		link(rel="stylesheet" type="text/css" href="/css/user.css")
		link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
		meta(charset="utf-8")
		meta(name="viewport" content="width=device.width, ititial-scale=1")
	body
		nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
			a.navbar-brand(href='/') Guitar Dictionary
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarCollapse.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href='/') Axes
					li.nav-item
						a.nav-link(href='/docs') Docs
					li.nav-item
						a.nav-link(href='/fx/all') FX
					li.nav-item
						a.nav-link(href='/songs') Songs 
					li.nav-item
						a.nav-link(href='/about') About
				ul.nav.navbar-nav.navbar-right
					li.nav-item
						a.nav-link.register(href="/user/register")
							span.glyphicon.glyphicon-user
							|  Register
					li.nav-item
						a.nav-link.login(href="/user/login")
							span.glyphicon.glyphicon-log-in
							|  Login
		// Begin page content
		main.container(role='main')
			block content
			script(src="/js/libs/jquery-1.11.3.min.js")
			script(src="/js/libs/dropzone.js")
			script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
			script(src="/js/build/bundle.js")
			