extends layout 
block content 
	h2.register-header Login
	form(id="register" action="/user/logUserIn" method="POST" accept-charset="utf-8" ajax="true")
		.form-group
			label Email
			input(class="form-control" type="text" name="email" placeholder="Username or Email")
		.form-group
			label Password
			input(class="form-control" type="text" name="password" placeholder="Password")
		br
		button(type="submit" class="btn btn-success") Sign Up