extends layout 
block content
  h1.siteTitle Songs
  .songsContainer
    p.docsAbout
      em
        | All the chords so you can strum that A major
    .comingSoonMessage
      h2 
        em
          | Coming Soon
      br
      a.btn.btn-primary.comingSoonButton(role="button" href="/") Back to Home